<nav class="menu">
  <h2>Menú</h2>
  <ul>
    <li>
      <a routerLink="/inicio" routerLinkActive="active" aria-label="Ir a Inicio">Inicio</a>
    </li>
    <li>
      <a routerLink="/registrar" routerLinkActive="active" aria-label="Registrar nueva persona">Registrar</a>
    </li>
    <li>
      <a routerLink="/informacion" routerLinkActive="active" aria-label="Ver información de la persona">Información Persona</a>
    </li>
    <li>
      <a routerLink="/cerrar-sesion" routerLinkActive="active" aria-label="Cerrar sesión">Cerrar sesión</a>
    </li>
  </ul>
</nav>
