.dashboard-container {
  display: flex;
  height: 100vh; /* Para que ocupe toda la altura de la pantalla */
}

app-menu {
  flex: 0 0 250px; /* Define el ancho fijo del menú */
  background-color: #f4f4f4; /* Ajusta el color de fondo según tu estilo */
}

.dashboard-content {
  flex: 1;
  padding: 20px; /* Espacio interno para el contenido */
  overflow-y: auto; /* Permite hacer scroll en caso de contenido extenso */
}
