<div class="body">
    <form class="formulario">
        <h2>Registro</h2>
        <label>
            Nombre:
            <input type="text" id="nombre" name="nombre" placeholder="Ingrese su Nombre" required>
        </label>
        <label>
            Apellido:
            <input type="text" id="apellido" name="apellido" placeholder="Ingrese su apellido" required>
        </label>
        <label>
            Correo:
            <input type="text" id="correo" name="correo" placeholder="Ingrese su correo" required>
        </label>
        <label>
            Contraseña:
            <input type="text" id="contrasena" name="contrasena" placeholder="Ingrese su Contraseña" required>
        </label>
        <button type="submit">Guardar</button>
        <button type="button" (click)="regresarLogin()">Iniciar Sesión</button>
    </form>
</div>
