<div>
    <form>
        <h2>Cuenta</h2>
        <label>
            Nombre:
            <input type="text" id="nombre" name="nombre" placeholder="Ingrese su Nombre" [(ngModel)]="nombre" required>
        </label>
        <label>
            Apellido:
            <input type="text" id="apellido" name="apellido" placeholder="Ingrese su apellido" [(ngModel)]="apellido" required>
        </label>
        <label>
            Correo:
            <input type="text" id="correo" name="correo" placeholder="Ingrese su correo" [(ngModel)]="correo" required>
        </label>
        
        <label *ngIf="idcuentas === '' || idcuentas === undefined">
            Contraseña:
            <input type="text" id="contrasena" name="contrasena" placeholder="Ingrese su Contraseña" [(ngModel)]="contrasena" required>
        </label>

        <button type="submit" (click)="editaryguardarcuentas()">Guardar</button>
        <button type="button" (click)="regresar()">Atrás</button> 
    </form>
</div>
