<nav class="menu" >

  <h2>Menú</h2>

  <ul>
    <li>
      <button (click)="inicio()" routerLinkActive="active" aria-label="Ir a Inicio">
        <i class="fa fa-home"></i> Inicio
      </button>
    </li>
    <li>
      <button (click)="cuentasR()" routerLinkActive="active" aria-label="Cuentas Registradas">
        <i class="fa fa-users"></i> Cuentas Registradas
      </button>
    </li>
    <li>
      <button (click)="infoPersonal()" routerLinkActive="active" aria-label="Ver información de la persona">
        <i class="fa fa-info-circle"></i> Información Personal
      </button>
    </li>
  </ul>
</nav>
