$app-primary-color: #007bff;

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $app-primary-color;
  color: white;
  padding: 10px 20px;

  .logo {
    font-size: 1.5em;
  }

  .nav-links {
    display: flex;
    gap: 20px;

    a {
      color: white;
      text-decoration: none;
      transition: color 0.3s;

      &:hover,
      &.active {
        color: #f8f9fa; // Color más claro al pasar el mouse o estar activo
      }
    }
  }
}
