
<!-- Sección Home -->
<section id="home" class="home-section">
  <div class="home-content">
    <h1>Bienvenido a mi sitio web</h1>
    
  </div>
</section>

<!-- Tarjetas de Servicios -->
<section id="services" class="services-section">
  <div class="card-container">
    <div class="card">
      <h3>Jhonny Miranda</h3>
      <p></p>
      <a href="#" class="btn-primary">Ver más</a>
    </div>
    <div class="card">
      <h3>Cristian Defaz</h3>
      <p></p>
      <a href="#" class="btn-primary">Ver más</a>
    </div>
  </div>
</section>

<!-- Sección de Contacto -->
<section id="contact" class="contact-section">
  <div class="contact-content">
    <h2>Contacto</h2>
    <form>
      <input type="text" placeholder="Tu nombre" required>
      <input type="email" placeholder="Tu correo" required>
      <textarea placeholder="Tu mensaje" required></textarea>
      <button type="submit" class="btn-primary">Enviar</button>
    </form>
  </div>
</section>
